.row {
  margin-left: 20px;
  color: white;
}
h2 {
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 20px;
}
.slider {
  position: relative;
}
.slider__arrow-left {
  background-clip: content-box;
  padding: 20px 0;
  box-sizing: border-box;
  transition: 400ms all ease-in-out;
  cursor: pointer;
  width: 80px;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.slider__arrow-right {
  padding: 20px 0;
  background-clip: content-box;
  box-sizing: border-box;
  transition: 400ms all ease-in-out;
  cursor: pointer;
  width: 80px;
  z-index: 1000;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.arrow {
  transition: 400ms all ease-in-out;
}
.arrow:hover {
  transition: 400ms all ease-in-out;
  transform: scale(1.5);
}
.slider:hover .slider__arrow-left {
  transition: 400ms all ease-in-out;
  visibility: visible;
}
.slider:hover .slider__arrow-right {
  transition: 400ms all ease-in-out;
  visibility: visible;
}
.slider__arrow-left:hover {
  background: rgba(20, 20, 20, 0.5);
  transition: 400ms all ease-in-out;
}
.slider__arrow-right:hover {
  background: rgba(20, 20, 20, 0.5);
  transition: 400ms all ease-in-out;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0 20px 20px;
  scroll-behavior: smooth;
  overflow: visible !important;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  object-fit: contain;
  width: 100%;
  /* max-height: 144px; */
  margin-right: 10px;
  transition: transform 450ms, opacity 450ms;
  border-radius: 4px;
}
.row__poster:hover {
  transform: scale(1.08);
}
.row__posterLarge {
  max-height: 320px;
}
.row__posterLarge:hover {
  transform: scale(1.1);
  opacity: 1;
}

/* 정보 container */
.row__poster-container{
  position: relative;
  cursor: pointer;
  width: 100%;
  max-height: 144px;
  margin-right: 10px;
  border-radius: 4px;
  transition: transform 450ms;
  overflow: hidden;
}
.row__poster-container:hover{
  transform: scale(1.08);
  z-index: 10;
}
.row__poster-container.row__posterLarge { 
    max-height: 320px;
}
.row__poster-container.row__posterLarge:hover {
  transform: scale(1.1); 
}
.row__poster-container:hover .row__poster {
  opacity: 0.3; /*반투명*/
}

/* 정보 노출 */
.row__poster-info {
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 100%; 
  background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); /* 아래에서 위로 그라데이션 */
  color: white;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0; /* 기본적으로 숨김 */
  visibility: hidden; /* 스크린리더 등에서도 숨김 */
  transition: opacity 450ms, visibility 450ms; /* 나타나는 애니메이션 */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* 아래쪽 정렬 */
  text-align: left;
}
.row__poster-container.row__posterLarge .row__poster-info {
    padding-bottom: 20px; 
}

/* 정보 노출 */
.row__poster-container:hover .row__poster-info {
  opacity: 1; 
  visibility: visible;
}
.row__poster-title {
  font-size: 1.1rem;
  margin-bottom: 5px;
  text-overflow: ellipsis; /* 너무 긴 제목은 ... 처리 */
  white-space: nowrap;
  overflow: hidden;
}
.row__poster-date{
  font-size: 0.9rem;
}
.row__poster-overview {
  font-size: 0.9rem;
  color: #fdd835; 
}

.row__arrow-left {
  position: absolute;
  top: 0;
  left: 20px;
  height: 100%;
  width: 32px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.row__arrow-right {
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  width: 32px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .row__poster {
    max-height: 160px;
  }
  .row__posterLarge {
    max-height: 360px;
  }

  .row__poster-container {
    max-height: 160px;
  }
  .row__poster-container.row__posterLarge {
    max-height: 360px;
  }
}
@media screen and (max-width: 768px) {
  .row__poster {
    max-height: 100px;
  }
  .row__posterLarge {
    max-height: 280px;
  }

  .row__poster-container {
    max-height: 100px;
  }
  .row__poster-container.row__posterLarge {
    max-height: 280px;
  }
}

.swiper-pagination {
  text-align: right !important;
}

.swiper-pagination-bullet {
  background: gray !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}

.swiper-button-prev {
  color: white !important;
}

.swiper-button-next {
  color: white !important;
}

.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 1.3rem !important;
  font-weight: 600 !important;
}

.swiper-slide {
  padding-right: 10px;
  overflow: visible !important;
}